
.container{
    width: 1440px;
    margin: 0 auto;
}
:root{
    --main-black    : black;
}
.header__links{
    display: flex;
    gap: 57px;
    align-content: center;
    margin-left: 550px;
    margin-top: -55px;
    font-family: Bowly-one-sc;
}
.header__link{
    font-size: 28px;
    color: var(--main-black);
    text-decoration: none;
    transition: all 0.6s;
}
.header__link:hover{
    transform: scale(1.2);
}
#main{
    color: white;
    -webkit-text-stroke: 2px var(--main-black);

}

.header__logo{
    margin-top: 24px;
    cursor: pointer;
}
.header__login{
    display: block;
    font-size: 28px;
    font-family: Bowly-one-sc;
    text-decoration: none;
    color: var(--main-black);
    margin-left: 1250px;
    margin-top: -40px;
    transition: all 0.6s;
}
.header__login:hover{
    transform: scale(1.1);
}

.promo__logo{
    height: 167px;
    width: 508px;
    margin-top: 190px;
    margin-left: 30px;
}

.promo__title{
    font-size: 34px;
    color: var(--main-black);
    margin-top: 17px;
    margin-left: 50px;
    font-family: BriemHand;
}
.promo__subtitle{
    font-size: 34px;
    color: var(--main-black);
    margin-top: 62px;
    margin-left: 50px;
    font-family: BriemHand;
}

.promo__button{
    text-transform: uppercase;
    width: 420px;
    height: 80px;
    color: white;
    background-color: var(--main-black);
    font-size: 40px;
    font-family: Bowly-one-sc;
    margin-top: 70px;
    margin-left: 50px;
    cursor: pointer;
    transition: all 0.6s;
    a{
        text-decoration: none;
        color: white;
    }
}
.promo__button:hover{
    background-color: white;
    a{
        color: black;
    }
}

.promo__images {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin-top: -680px; /* Поднимает контейнер */
    margin-left: 1000px; /* Центрирует контейнер по горизонтали */
    margin-right: auto; /* Центрирует контейнер по горизонтали */
    align-items: center; /* Центрирует содержимое внутри контейнера */
}
.promo__image{
    &:last-child{
        margin-top: 50px;
    }
}

/* order */
.promo__text{
    font-size: 34px;
    font-family: BriemHand;
    text-align: center;
    span{
        opacity: 0;
    }
}

.promo__btn{
    font-size: 40px;
    color: white;
    background-color: var(--main-black);
    font-family:Bowly-one-sc;
    width: 424px;
    height: 83px;
    margin-top: 61px;
    margin-left: 519px;
    box-shadow: 12px 12px 2px 1px rgba(122, 122, 130, 0.2);
    cursor: pointer;
}
.promo__images__order{
    margin-top: 80px;
    display: flex;
    gap: 80px;
    margin-left: 50px;
}
.promo__block{
    display: none;
}
/* more */
.question__title{
    font-size: 48px;
    font-family: Bowly-one-sc;
    &:first-child{
        margin-top: 122px;
    }
}

.question__subtitle{
    padding-top: 15px;
    padding-left: 15px;
    font-size: 40px;
    color:white;
    background-color: var(--main-black);
    height: 80px;
    width: 1043px;
    font-family: BriemHand;
}

#second__subtitle{
    max-width: 634px;
}
.question__terms{
    text-align: center;
    font-size: 24px;
    font-family: Bowly-one-sc;
    text-transform: uppercase;
}
.question__box{
    display: none;
}
@media(max-width: 768px){
    .promo__block{
        display: block;
    }
    .question__box{
        display: block;
    }
    .header__logo{
        width: 100px;
        height: 34px;
        margin-top: 24px;
        cursor: pointer;
    }
    .header__link{
        display: none;
    }
    .header__links{
        margin-left: 10%;
        margin-top: -2%;
        gap: 25px;
    }

    .header__login{
        font-size: 12px;
        margin-left:23%;
        margin-top: -0.5%;
    }
    .promo__logo{
        width: 165px;
        height: 53px;
        margin-top: 5%;
        margin-left: 1%;
    }
    .promo__title{
        font-size: 10px;
        margin-left: 2%;
    }
    .promo__subtitle{
        font-size: 10px;
        margin-left: 2%;
        margin-top: 20px;
    }
    .promo__button{
        width: 136px;
        height: 26px;
        font-size: 12px;
        margin-top: 26px;
        margin-left: 2%;
    }
    .promo__image{
        width: 112px;
        height: 112px;
        &:last-child{
            margin-top: 16px;
        }
    }
    .promo__images{
        margin-top: -15%;
        margin-left: 12%;
    }
    .question__title{
        &:first-child{
            margin-top: 33px;
        }
        font-size: 14px;
    }
    .question__subtitle{
        width: 318px;
        height: 25px;
        font-size: 12px;
        padding: 0;
        padding-left: 10px;
    }
    #second__subtitle{
        width: 193px;
    }
    .question__box{
        margin-left: 16px;
    }
    .question__terms{
        margin-left: 10px;
        font-size: 7px;
        display: inline;
    }
    .promo__text{
        font-size: 10px;
        margin-top: 0;
        width: 150px;
        display: block;
        height: 50px;
        margin-left: 130px;
        span{
            font-size: 10px;
        }
    }
    .promo__btn{
        margin-left: 0;
        width: 126px;
        height: 25px;
        font-size: 12px;
        margin-left: 140px;
        margin-top: 19px;
    }
    .promo__images__order{
        gap: 35px;
        margin-left: 0;
        margin-top: 24px;
    }
    .promo__image{
        &:last-child{
            margin-top: 0px;
        }
    }
}
